.DS_Store
example/ios/exampleWizAssets.xcodeproj/xcuserdata/*
example/ios/exampleWizAssets.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/*
!example/ios/www/cordova-2.4.0.js
example/ios/www/index.html
example/android/bin/*
example/android/gen/*
*.apk
*.ap_
local.properties
