<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="jp.wizcorp.phonegap.plugin.wizAssetsPlugin"
    version="5.1.0">

    <name>Wizard Asset Manager Plugin</name>
    <description>This plugin allows you easily download, lookup and delete files.</description>
    <author>Ally Ogilvie</author>
    <keywords>asset, manager, wizAssets, file, wizcorp, wizard</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <license>MIT</license>

    <js-module src="www/phonegap/plugin/wizAssets/wizAssets.js" name="wizAssetsPlugin" target="phonegap/plugin/wizAssets/wizAssets.js">
        <clobbers target="window.wizAssets" />
    </js-module>
    <js-module src="www/phonegap/plugin/wizAssets/WizAssetsError.js" name="WizAssetsError" target="phonegap/plugin/wizAssets/WizAssetsError.js">
        <clobbers target="window.WizAssetsError" />
    </js-module>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="wizAssetsPlugin">
                <param name="ios-package" value="WizAssetsPlugin"/>
                <param name="onload" value="true" />
            </feature>
            <plugin name="WizAssetsPlugin" value="WizAssetsPlugin"/>
        </config-file>

        <!-- Plugin files -->
        <header-file src="platforms/ios/HelloCordova/Plugins/WizAssetsPlugin/WizAssetsPlugin.h" />
        <source-file src="platforms/ios/HelloCordova/Plugins/WizAssetsPlugin/WizAssetsPlugin.m" />

        <!-- Logger -->
        <source-file src="platforms/ios/HelloCordova/Plugins/WizAssetsPlugin/WizDebugLog.h" />

    </platform>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WizAssetsPlugin" >
                <param name="android-package" value="jp.wizcorp.phonegap.plugin.WizAssets.WizAssetsPlugin"/>
            </feature>
        </config-file>

        <asset src="www/phonegap/plugin/wizAssets/assets.db" target="phonegap/plugin/wizAssets/assets.db" />

        <source-file src="platforms/android/src/jp/wizcorp/phonegap/plugin/WizAssets/WizAssetsPlugin.java" 
                target-dir="src/jp/wizcorp/phonegap/plugin/WizAssets"/>
        <source-file src="platforms/android/src/jp/wizcorp/phonegap/plugin/WizAssets/WizAssetManager.java" 
                target-dir="src/jp/wizcorp/phonegap/plugin/WizAssets"/>

    </platform>

</plugin>